<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    
	<script th:inline="javascript">
    	$(function() {
			$.ajax({
				type: "GET",
				url: "PortEntityS?parent= + [[${parent}]]",
				dataType : "json"
			})
			.done(function(data){
				for (let obj of data) {
					$('#table tbody').append('<tr><td>' + obj.id + '</td><td><a href="equipment?id=' + obj.id + '">' + obj.port_name + '</a></td><td>' + obj.port_name + '</td></tr>');
				}
				$("#table").DataTable({
					"paging": true,
				})
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
  
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
			
			var obj = new Object();
			obj.connector_name = "FCPC";
		});
	</script>
    <title>Project List</title>
</head>
<body>
    <h1 th:text="${projectName}"></h1>
    <div><table id="table" class="table table-striped table-bordered"><thead class="thead-dark"><tr><td>ID</td><td>Port Name</td><td>Comment</td></tr></thead><tbody></tbody></table></div>
</body>
</html>