<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>    

	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	<script th:inline="javascript">
		class MyDialog {
			constructor(div, okClicked) {
				this.dialogDiv = div + '_dialog';
				this.textDiv = div + '_text';
				$('#' + div).append('<div id="' + this.dialogDiv + '"></div>');
				$('#' + this.dialogDiv).append('<input type="text" id="' + this.textDiv + '">');
				$('#' + this.textDiv).css("width", "100%");
				
				var me = this;
				
				$("#" + this.dialogDiv).dialog({
					modal:true,
					autoOpen: false,
					title: "",
					width: 300,
					height: 200,
					buttons: {
						"OK": function() {
							$(this).dialog("close");
							var v = $('#' + me.textDiv).val();
							okClicked(v);							
						},
						"Cancel": function() {
							$(this).dialog("close");
						}
					}
				});				
			}
			
			show(defaultVal) {
				$('#' + this.textDiv).val(defaultVal);
				$("#" + this.dialogDiv).dialog('open');
			}
		}
		
		$(function() {	
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
			var me = this;
			
			var table = $('#equipmenttable').DataTable({
				"iDisplayLength": 50,
				"sAjaxSource": "EquipmentCategoryEntityS",
				"sAjaxDataProp": "",
				"columnDefs": [
							{
								"targets": [ 0 ],
				                "visible": false,
				                "searchable": false
				            },
				            {
								"targets": 1,
								"render": function ( data, type, full, meta ) {
										return '<button class="btn btn-link" name="Category" id="category_' + full.id + '">' + full.category + '</button>';
								}
							},
				            {
								"targets": 2,
								"render": function ( data, type, full, meta ) {
									return '<button class="btn btn-link" name="Description" id="description_' + full.id + '">' + full.description + '</button>';
								}
							},
				        ],
				"aoColumns": [
					{ "sTitle": "ID", "mData": "id" },
					{ "sTitle": "Category", "mData": "category" },
					{ "sTitle": "Description", "mData": "description" },
				]
			});		
			
			var dialog = new MyDialog('dialog', function(val){
				var obj = new Object();
				obj.id = selectedId;
				obj.field = selectedField;
				obj.value = val;
				
				var json = JSON.stringify(obj);
				$.ajax({
					type: "POST",
					url: "/updateEquipmentCategory",
					data: json,
					contentType: "application/json",
					dataType : "text"
				}).done(function(data){
					table.ajax.reload();
				}).fail(function(XMLHttpRequest, status, e){
					alert(e);
				});					
			});
			table.on( 'draw', function () {
				$('.btn').click(function(){
					selectedId = $(this).attr('id').split('_')[1];
					selectedField = $(this).attr('id').split('_')[0];
					dialog.show($(this).text());
				});
			});		
			
			
			$('#add').click(function() {
				selectedId = null;
				selectedField = 'category';
				dialog.show('New Equipment Category');
			});
		});

		
	</script>
    <title>Equipment Diagram</title>
</head>
<body>
	<div id='headerDiv'></div>
	<div id='dialog'></div>
	<button id="add">Add Category</button>
	<table id="equipmenttable" class="table table-striped table-bordered"></table>
</body>
</html>