<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>    
    <script type="text/javascript" th:src="@{/js/diagram.js}"></script>
    
<!--
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
-->
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/mywebsocket.js}"></script>
	<script type="text/javascript" th:src="@{/js/diagram.js}"></script>
	<script type="text/javascript" th:src="@{/js/portdetail.js}"></script>
	<script type="text/javascript" th:src="@{/js/testitemeditor.js}"></script>
	<script type="text/javascript">	
		$(function() {
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			var ids = Array.of([[${parent}]]);
   			var diagram = new DiagramCanvas('forClass');
   			diagram.modeLink();
   			
   			var me = this;
		   			
    		diagram.onClick(function(id, text) {
    			$('#dialog').append('<div id="content"></div>');
    			var detail = new PortDetail("content", id, 'port');
				$("#dialog").dialog({
					modal:true,
					title: text,
					width: 900,
					height: 500,
					buttons: {
					"Close": function() {
							detail.remove();
							$('#content').remove();
							$(this).dialog("destroy");
						}
					}
				});
				
    		});
		    
    		diagram.onLink(function(id1, id2) {
    			$.ajax({
    				type: "GET",
    				url: "linkport?port1=" + id1 + "&port2=" + id2,
    				dataType : "text"
    			})
    			.done(function(data){
    				updateDiagram();
    			})
    			.fail(function(XMLHttpRequest, textStatus, errorThrown){
    				alert(errorThrown);
    			});   			
    			
    			
    		});

    		
    		diagram.onMove(function(i, x, y, w, h) {
    			console.log('x=' + x + ', y=' + y);
    			var obj = new Object();
    			obj.id = i;
    			obj.x = x;
    			obj.y = y;
    			obj.width = w;
    			obj.height = h;

	 			$.ajax({
					type: "POST",
					url: "PortPresentationRect",
					contentType: 'application/json',
					dataType : "json",
					data : JSON.stringify(obj)
				})
				.done(function(data){
					console.log(data);
					updateDiagram();
				})
				.fail(function(XMLHttpRequest, textStatus, errorThrown){
					alert(errorThrown);
				});   			
    		});
    		
    		function updateDiagram() {
    			$.ajax({
    				type: "GET",
    				url: "portDiagram?parent=" + ids,
    				dataType : "json"
    			})
    			.done(function(data){
    				diagram.setData(data);
    			})
    			.fail(function(XMLHttpRequest, textStatus, errorThrown){
    				alert(errorThrown);
    			});    			
    		}
    		
    		updateDiagram();
    		
    		$('#editTypeMove').click(function() {
    			diagram.modeMove();
    		});
    		$('#editTypeLink').click(function() {
    			diagram.modeLink();
    		});
    		$('#editTypeTestItem').click(function() {
    			
    		});
		});
	</script>
    <title>Equipment Diagram</title>
</head>
<body>
	<div id="headerDiv"></div>
    <h1 th:text="${title}"></h1>
    
    <div>
    	<input type="radio" id="editTypeLink" name="editType" checked><label for="editTypeLink">Link</label>
    	<input type="radio" id="editTypeMove" name="editType"><label for="editTypeMove">Move</label>
    	<input type="radio" id="editTypeTestItem" name="editType"><label for="editTypeTestItem">Test Items</label>
    </div>
    <div id="forClass"></div>
    <div id="dialog"></div>

</body>
</html>