<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/mywebsocket.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
	<script type="text/javascript">	
		$(function() {	
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
			$.ajax({
				type: "GET",
				url: "ProjectEntityS",
				dataType : "json"
			})
			.done(function(data){ 
				for (let obj of data) {
					$('#table tbody').append('<tr><td>' + obj.id + '</td><td><a href="project?id=' + obj.id + '">' + obj.name + '</a></td><td>' + obj.comment + '</td><td>' + 
					'<a href="project?id=' + obj.id + '" target="_blank">Edit</a></td><td><a href="equipmenttopology?id=' + obj.id + '" target="_blank">Edit</a></td>' + 
					'</tr>');
				}
				$("#table").DataTable({
					"paging": true,
				});
				
			    $('#table tbody').on( 'click', 'tr', function () {
			        $(this).toggleClass('selected');
			    } );
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
			$('#regTesterButton').click(function(){
				showDialog();
			});
			
			function showDialog() {
				var pane = new TesterRegisterPane('regTesterDialog');
				$("#regTesterDialog").dialog({
					modal:true,
					title: "Register Tester",
					width: 900,
					height: 500,
					buttons: {
						"Register": function() {
							pane.post();
							pane.remove();
							$(this).dialog("destroy");
						},
						"Cancel": function() {
							pane.remove();
							$(this).dialog("destroy");
						}
					}
				});
			}
			
			new MyTesterStatus('mytesters');
/*  
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
*/
		});
	</script>
    <title>Project List</title>
</head>
<body>
	<div id='headerDiv'></div>
    <form role="form" id="logout" th:action="@{/logout}" method="post">
	    <button type="submit">Logout</button>
	</form>
    <div id="regTesterDialog"></div>
    <div><table id="table" class="table table-striped table-bordered"><thead class="thead-dark"><tr><td>ID</td><td>Project Name</td><td>Comment</td><td>List</td><td>Diagram</td></tr></thead><tbody></tbody></table></div>
</body>
</html>