<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/portsummary.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
	<script type="text/javascript">	
		$(function() {	
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
			var table = $('#summarytable').DataTable({
				"iDisplayLength": 50,
				"sAjaxSource": "projectSummaryJson?id= + [[${id}]]",
				"sAjaxDataProp": "",
				"columnDefs": [
							{
								"targets": [ 0 ],
				                "visible": false,
				                "searchable": false
				            },
				            {
								"targets": 1,
								"render": function ( data, type, full, meta ) {
									//return '<select class="category"></select>';
									return '<button class="btn btn-link" name="Category" id="category_' + full.id + '">' + full.category + '</button>';
								}
							},
				            {
								"targets": 2,
								"render": function ( data, type, full, meta ) {
									return '<button class="btn btn-link" name="Name" id="name_' + full.id + '">' + full.name + '</button>';
								}
							},
				            {
								"targets": 3,
								"render": function ( data, type, full, meta ) {
									return '<button class="btn btn-link" name="Location" id="Location_' + full.id + '">' + full.address + '</button>';
								}
							},	
				            {
								"targets": 4,
								"render": function ( data, type, full, meta ) {
									return '<a href="portsummary?id=' + full.id + '">' + full.ports + '</a>';
									//return '<button class="btn btn-link" name="Ports" id="ports_' + full.id + '">' + full.ports + '</button>';
								}
							},							
				        ],
				"aoColumns": [
					{ "sTitle": "ID", "mData": "id" },
					{ "sTitle": "Category", "mData": "category" },
					{ "sTitle": "Name", "mData": "name" },
					{ "sTitle": "Location", "mData": "address" },
					{ "sTitle": "Ports", "mData": "ports" },
					{ "sTitle": "Test Status", "mData": "testStatus" },
					{ "sTitle": "Edit", "mData": null, "sDefaultContent": '<button class="btn-edit">Edit</button>' },
				]
			});				
			
			var portSummary = new PortSummary('portdialog');
			var selectedId;
			var selectedField;
			table.on( 'draw', function () {
				$('.btn').click(function(){
					$("#textdialog").dialog({ title: $(this).attr('name')});
					selectedId = $(this).attr('id').split('_')[1];
					selectedField = $(this).attr('id').split('_')[0];
					if ($(this).attr('name') == 'Category') {
						$('#categoryOptions').val($(this).text());
						$("#optiondialog").dialog('open');						
					}
					else if ($(this).attr('name') == 'Name' || $(this).attr('name') == 'Location'){
						$('#textfield').val($(this).text());
						$("#textdialog").dialog('open');						
					}
					else if ($(this).attr('name') == 'Ports') {
						//window.open("ports?id=" + selectedId, "_blank");
						portSummary.update(selectedId);
						$('#portdialog').dialog('open');
					}
				});
				$('.btn-edit').click(function(){
					$("#editdialog").dialog('open');
				});
			});
			
			$('#textfield').css('width', '100%');
			$("#textdialog").dialog({
				modal:true,
				autoOpen: false,
				title: "",
				width: 400,
				height: 200,
				buttons: {
					"OK": function() {
						$(this).dialog("close");
						
						var obj = new Object();
						obj.id = selectedId;
						obj.field = selectedField;
						obj.value = $('#textfield').val();
						
						var json = JSON.stringify(obj);
						$.ajax({
							type: "POST",
							url: "/updateEquipment",
							data: json,
							contentType: "application/json",
							dataType : "text"
						}).done(function(data){
							table.ajax.reload();
						}).fail(function(XMLHttpRequest, status, e){
							alert(e);
						});								
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});

			$("#optiondialog").dialog({
				modal:true,
				autoOpen: false,
				title: "",
				width: 300,
				height: 200,
				buttons: {
					"OK": function() {
						$(this).dialog("close");
						
						var obj = new Object();
						obj.id = selectedId;
						obj.field = selectedField;
						obj.value = $('#categoryOptions').val();
						
						var json = JSON.stringify(obj);
						$.ajax({
							type: "POST",
							url: "/updateEquipment",
							data: json,
							contentType: "application/json",
							dataType : "text"
						}).done(function(data){
							table.ajax.reload();
						}).fail(function(XMLHttpRequest, status, e){
							alert(e);
						});								
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});

			$('#editOptions').append($('<option>').html('Copy').val('copy'));
			$('#editOptions').append($('<option>').html('Delete').val('delete'));
			$('#editOptions').change(function(){
				if ($(this).val() == 'copy') {
					$('#copyCount').show();
				}
				else if ($(this).val() == 'delete') {
					$('#copyCount').hide();
				}				
			});
			
			$("#editdialog").dialog({
				modal:true,
				autoOpen: false,
				title: "",
				width: 300,
				height: 200,
				buttons: {
					"OK": function() {
						$(this).dialog("close");
						
						var obj = new Object();
						obj.id = selectedId;
						obj.field = selectedField;
						obj.value = $('#categoryOptions').val();
						
						var json = JSON.stringify(obj);
						$.ajax({
							type: "POST",
							url: "/",
							data: json,
							contentType: "application/json",
							dataType : "text"
						}).done(function(data){
							table.ajax.reload();
						}).fail(function(XMLHttpRequest, status, e){
							alert(e);
						});								
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});
			
			$.ajax({
				type: "GET",
				url: "EquipmentCategoryEntityS",
				dataType : "json"
			})
			.done(function(data){ 
				for (var o of data) {
					$('#categoryOptions').append($('<option>').html(o.category).val(o.category));
				}
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
	
			$("#portdialog").dialog({
				modal:true,
				autoOpen: false,
				title: "",
				width: 900,
				height: 700,
				buttons: {
					"OK": function() {
						$(this).dialog("close");						
					},
					"Cancel": function() {
						$(this).dialog("close");
					}
				}
			});
			
			$.ajax({
				type: "GET",
				url: "EquipmentCategoryEntityS",
				dataType : "json"
			})
			.done(function(data){ 
				for (var o of data) {
					$('#categoryOptions').append($('<option>').html(o.category).val(o.category));
				}
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
		});
	</script>
    <title>Project Summary</title>
</head>
<body>
	<div id='headerDiv'></div>
	<button id="addEquipment">Add Equipment</button> 
	<a href="equipmenttopology" th:href="@{equipmenttopology(id=${id})}" target="_blank">Link</a>
	<table id="summarytable" class="table table-striped table-bordered"></table>
	<div id="textdialog"><input type="text" id="textfield"></div>
	<div id="optiondialog"><select id="categoryOptions"></select></div>
	<div id="editdialog"><select id="editOptions"></select><input type="text" id="copyCount" value="1"></div>
	<div id="portdialog"></div>
</body>
</html>