<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
    <script type="text/javascript" th:src="@{/js/mytextdialog.js}"></script>
    <script type="text/javascript" th:src="@{/js/mywebsocket.js}"></script>
    <script type="text/javascript" th:src="@{/js/testitemtable.js}"></script>
    <script type="text/javascript" th:src="@{/js/testitemadd.js}"></script>
	<script type="text/javascript">	
		$(function() {	
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});
			
			var port = "[[${port}]]";
			var resource = 'testDetailPortJson?id=' + port;
			var table = new TestItemTable('tests', resource, 'hideequipment', 'hideport');
			
			var dialog = new TestItemAddDialog('addTestItemDialog', port, function(obj){
				table.reload();
			});
			$('#addTestItem').click(function(){
				dialog.show();
			});
			
			
			$('#level').append($('<option>').html('Detail').val(1));
			$('#level').append($('<option>').html('Summary').val(2));
			$('#level').change(function(){
				if ($(this).val() == 2) {
					table.resource('testSummaryPortJson?id=' + port);
					table.columnVisible(5, false);
					table.columnVisible(6, false);
					table.columnVisible(7, false);
					table.columnVisible(8, false);
				}
				else if ($(this).val() == 1) {
					table.resource('testDetailPortJson?id=' + port);
					table.columnVisible(5, true);
					table.columnVisible(6, true);
					table.columnVisible(7, true);
					table.columnVisible(8, true);
				}
			});
		});
	</script>
    <title>Test Summary</title>
</head>
<body>
	<div id='headerDiv'></div>
    <h1 th:text="'Port: ' + ${portname}"></h1>
    <div id="regTesterDialog"></div>
    <div>Project: <a href="projectsummary" th:href="@{projectsummary(id=${projectid})}"><span th:text="${projectName}"></span></a></div>
    <div> Equipment: <a href="portsummary" th:href="@{portsummary(id=${equipmentid})}"><span th:text="${equipmentName}"></span></a></div>

    <button id="addTestItem">Add</button><select id="level"></select>
    <div id="addTestItemDialog"></div>
    <table id="tests" class="table table-striped table-bordered"></table>
</body>
</html>