<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" />
<!-- 	<link rel="stylesheet" type="text/css" href="/webjars/datatables-tabletools/2.2.4/css/dataTables.tableTools.css" />  -->
	<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<!--	<script type="text/javascript" th:src="@{/webjars/datatables-tabletools/2.2.4/js/dataTables.tableTools.js}"></script>  -->
    <script type="text/javascript">
    $(function() {
  //  	$('.border').css('border', 'solid');
    	
		$.ajax({
			type: "GET",
			url: "header",
			dataType : "html"
		})
		.done(function(data){ 
			$('#headerDiv').html(data);
		})
		.fail(function(XMLHttpRequest, textStatus, errorThrown){
			alert(errorThrown);
		});
		
		var table = null;
		
		function updateVendors() {
			$.ajax({
				type: "GET",
				url: "testerVendors",
				dataType : "json"
			})
			.done(function(data){ 
				$('#testervendor').empty();
				var vendor = null;
				for (let o of data) {
					$('#testervendor').append($('<option>').html(o.vendorname).val(o.id));
					if (vendor == null) {
						vendor = o.id;
					}
				}
				if (table == null) {
					createTable();
				}
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});					
		};
		
		$('#vendorButton').click(function() {
			$("#vendorDialog").dialog('open');
		});		
		
		updateVendors();
	
		var selectedData;
		
		function createTable() {
			if (table != null) {
				table.destroy();
				$('#table').remove();
			}
			$('#main').append('<table id="testersTable"></table>');
			
			table = $('#testersTable').DataTable({
				"iDisplayLength": 50,
				"sAjaxSource": 'testerListJson?vendor=' + $('#testervendor').val(),
				"sAjaxDataProp": "",
				"columnDefs": [
				            {
				                "targets": [ 0 ],
				                "visible": false,
				                "searchable": false
				            }
				        ],
				"aoColumns": [
					{ "sTitle": "ID", "mData": "id" },
					{ "sTitle": "Category", "mData": "categoryText" },
					{ "sTitle": "Product Name", "mData": "name" },
					{ "sTitle": "Description", "mData": "description" },
					{ "sTitle": "Type", "mData": "typeText" },
					{ "sTitle": "Parent(s)", "mData": "parents" },
					{ "sTitle": "Edit", "mData": null, "sDefaultContent": '<button class="btn-edit">Edit</button>' },
					{ "sTitle": "Delete", "mData": null, "sDefaultContent": '<button class="btn-delete">Delete</button>' },
				],
				fnCreatedRow : function(nRow, aData, iDataIndex) {
					var productNameElement = $("td:eq(1)", nRow);
					productNameElement.text("");
					var button = $('<button>' + aData.name + '</button>')
					.attr("class", "btn btn-link")
//					.attr("id", "button" + aData.id)
					.attr("width", "100%")
					.click(function() {
						selectedData = table.row( $(this).parents('tr') ).data();
						$('#editTesterName').val(selectedData.name);
						$('#editTesterDescription').val(selectedData.description);
						$('#productTypeList').val(selectedData.type);

						$(".testerCategory").each(function(i,e){
							$('#' + e.id).prop('checked', false);
						});
						for (var c of selectedData.category) {
							$('#categoryCheck' + c).prop('checked', true);
						}

						$("#configDialog").dialog('open');						
					});
					productNameElement.append(button);
					
					//
					var parentElement = $("td:eq(4)", nRow);
					parentElement.text("");
					var button = $('<button>' + aData.parents + '</button>')
					.attr("class", "btn btn-link")
//					.attr("id", "button" + aData.id)
					.attr("width", "100%")
					.click(function() {
						selectedData = table.row( $(this).parents('tr') ).data();
						updateParentTable();
						$("#parentEditDiv").dialog('open');					
					});
					parentElement.append(button);		
				}			
			});	
			
			$('#testersTable tbody').on( 'click', 'button', function () {
				var cls = $(this).attr('class');
				selectedData = table.row( $(this).parents('tr') ).data();
				if (cls == 'btn-edit') {
					$('#editTesterName').val(selectedData.name);
					$('#editTesterDescription').val(selectedData.description);
					$('#productTypeList').val(selectedData.type);

					$(".testerCategory").each(function(i,e){
						$('#' + e.id).prop('checked', false);
					});
					for (var c of selectedData.category) {
						$('#categoryCheck' + c).prop('checked', true);
					}

					$("#configDialog").dialog('open');
				}
				else if ('btn-delete') {
				
				}
		    } );
		}
		
		$('#testervendor').change(function() {
			//table.ajax.reload();
			createTable();
			//$('#table').remove();
		});
		
		$("#vendorDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "Vendor Name",
			width: 400,
			height: 200,
			buttons: {
				"OK": function() {
					var obj = new Object();
					obj.vendorname = $('#newTesterVendor').val();
					if (obj.vendorname == '') {
						return;
					}
					var json = JSON.stringify(obj);
					$.ajax({
						type: "POST",
						url: "/testerVendor",
						data: json,
						contentType: "application/json",
						dataType : "json"
					}).done(function(data){
						updateVendors();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});										
					$(this).dialog("close");
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});	
		
		$("#configDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "Config",
			width: 900,
			height: 600,
			buttons: {
				"OK": function() {							
					$(this).dialog("close");
					
					//var obj = new Object();
					//obj.id = selectedData.id;
					selectedData.category = [];
					$(".testerCategory").each(function(i,e){
						if ($('#' + e.id).prop('checked')) {
							selectedData.category.push(e.id.replace('categoryCheck', ''));
						}
					});
					selectedData.name = $('#editTesterName').val();
					selectedData.description = $('#editTesterDescription').val();
					selectedData.type = $('#productTypeList').val();
					
					var json = JSON.stringify(selectedData);
					$.ajax({
						type: "POST",
						url: "/testerJson",
						data: json,
						contentType: "application/json",
						dataType : "text"
					}).done(function(data){
						table.ajax.reload();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});					
					
					//testerCategory
					
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});	

		$("#newTesterDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "New Tester",
			width: 800,
			height: 400,
			buttons: {
				"OK": function() {							
					$(this).dialog("close");
					
					var obj = new Object();
					obj.name = $('#newTesterText').val();
					obj.description = $('#newTesterDescription').val();
					obj.vendorid = $('#testervendor').val();
					obj.type = $('#newTesterProductTypeList').val();
					
					var json = JSON.stringify(obj);
					$.ajax({
						type: "POST",
						url: "/testerJson",
						data: json,
						contentType: "application/json",
						dataType : "text"
					}).done(function(data){
						//createTable();
						table.ajax.reload();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});										
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});	
		$("#categoryEditDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "Category Editor",
			width: 800,
			height: 500,
			buttons: {
				"Close": function() {							
					$(this).dialog("close");
				
					var obj = new Object();
					obj.name = $('#newTesterText').val();
					obj.vendorid = $('#testervendor').val();
					var json = JSON.stringify(obj);

				}
			}
		});		

		$('#addNewTester').click(function(){
			$("#newTesterDialog").dialog('open');
		});
		
		$('#categoryEidtTable').css('width', '100%');
		var categoryTable = $('#categoryEidtTable').DataTable({
			"iDisplayLength": 50,
			"sAjaxSource": 'TesterCategoryEntityS',
			"sAjaxDataProp": "",
			"columnDefs": [
			            {
			                "targets": [ 0 ],
			                "visible": false,
			                "searchable": false
			            }
			        ],
			"aoColumns": [
				{ "sTitle": "ID", "mData": "id" },
				{ "sTitle": "Category Name", "mData": "category_name" },
				{ "sTitle": "Category Full Name", "mData": "fullname" },
				{ "sTitle": "Edit", "mData": null, "sDefaultContent": '<button class="btn-edit">Edit</button>' },
				{ "sTitle": "Delete", "mData": null, "sDefaultContent": '<button class="btn-delete">Delete</button>' },
			]
		});	
		var selectedCategory;
		$("#categoryElementEditDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "Edit Category Name",
			width: 1000,
			height: 600,
			buttons: {
				"OK": function() {							
					$(this).dialog("close");
				
					var obj = new Object();
					obj.id = selectedCategory.id;
					obj.category_name = $('#categoryNameEdit').val();
					obj.fullname = $('#categoryNameEditFull').val();
					var json = JSON.stringify(obj);
					$.ajax({
						type: "POST",
						url: "/TesterCategoryEntity",
						data: json,
						contentType: "application/json",
						dataType : "json"
					}).done(function(data){
						categoryTable.ajax.reload();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});	
				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});			
		
		$('#categoryEidtTable tbody').on( 'click', 'button', function () {
			var cls = $(this).attr('class');
			selectedCategory = categoryTable.row( $(this).parents('tr') ).data();
			if (cls == 'btn-edit') {
				$('#categoryNameEdit').val(selectedCategory.category_name);
				$('#categoryNameEditFull').val(selectedCategory.fullname);
				$("#categoryElementEditDialog").dialog('open');
			}
			else if ('btn-delete') {
			
			}
	    } );
		$('#editCategoryButton').click(function() {
			$("#categoryEditDialog").dialog('open');
		});
		
		$("#newCategoryDialog").dialog({
			modal:true,
			autoOpen: false,
			title: "Category Editor",
			width: 600,
			height: 300,
			buttons: {
				"OK": function() {							
					$(this).dialog("close");
				
					var obj = new Object();
//					obj.id = selectedCategory.id;
					obj.category_name = $('#newCategoryText').val();
					obj.fullname = $('#newCategoryFullText').val();
					var json = JSON.stringify(obj);
					$.ajax({
						type: "POST",
						url: "/TesterCategoryEntity",
						data: json,
						contentType: "application/json",
						dataType : "json"
					}).done(function(data){
						categoryTable.ajax.reload();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});	

				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});	
		$('#addnewCategory').click(function(){
			$("#newCategoryDialog").dialog('open');
		});
		
		function updateProductList() {
			$.ajax({
				type: "GET",
				url: "/productTypeList",
				dataType : "json"
			})
			.done(function(data){ 
				for (var o of data) {
					$('#productTypeList').append($('<option>').html(o.name).val(o.id));
					$('#newTesterProductTypeList').append($('<option>').html(o.name).val(o.id));
				}
				
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});				
		}

		updateProductList();
		
		var parentTable;
		$("#parentEditDiv").dialog({
			modal:true,
			autoOpen: false,
			title: "Parent Selector",
			width: 1200,
			height: 800,
			buttons: {
				"OK": function() {							
					$(this).dialog("close");
				
					var obj = new Object();
					
					obj.id = selectedData.id;
					var data = parentTable.rows().data();
					obj.selected= [];
					for (var i in data) {
						var d = data[i];
						if (d.selected) {
							obj.selected.push(d.id);
						}
					}
					
					var json = JSON.stringify(obj);
					$.ajax({
						type: "POST",
						url: "/parentTesterJson",
						data: json,
						contentType: "application/json",
						dataType : "text"
					}).done(function(data){
						table.ajax.reload();
					}).fail(function(XMLHttpRequest, status, e){
						alert(e);
					});	

				},
				"Cancel": function() {
					$(this).dialog("close");
				}
			}
		});	
		
		function updateParentTable() {
			if (parentTable == null) {
				$('#parentEditTable').css('width', '100%');
				parentTable = $('#parentEditTable').DataTable({
					"iDisplayLength": 50,
					"sAjaxSource": 'parentTesterJson?vendor=' + $('#testervendor').val() + '&tester=' + selectedData.id,
					"sAjaxDataProp": "",
					"columnDefs": [
					            {
					                "targets": [ 0 ],
					                "visible": false,
					                "searchable": false
					            }
					        ],
					"aoColumns": [
						{ "sTitle": "ID", "mData": "id" },
						{ "sTitle": "Check", "mData": "selected" },
						{ "sTitle": "Product Name", "mData": "name" },
						{ "sTitle": "Description", "mData": "description" },
						
//						{ "sTitle": "Select", "mData": null, "sDefaultContent": '<input type="checkbox" class="parent-check">' },
					],
					fnCreatedRow : function(nRow, aData, iDataIndex) {
						var element = $("td:eq(0)", nRow);
						element.text("");
						var checkbox = $("<input>")
						.attr("type", "checkbox")
						.attr("id", "check" + iDataIndex)
						.attr("class", "checkbox")
						.attr("checked", aData.selected)
						.change(function() {
							aData.selected = $(this).is(":checked").toString();
						});

						element.append(checkbox);
					}
				});	
			}
			else {
				parentTable.ajax.url('parentTesterJson?vendor=' + $('#testervendor').val() + '&tester=' + selectedData.id);
				parentTable.ajax.reload();
			}		
		}
		
		$('#editParents').click(function(){
			$("#parentEditDiv").dialog('open');
			updateParentTable();
		});
		
		$('#parentEditSelectAll').click(function(){
			parentTable.rows({"search":"applied" }).every( function () {
			    var data = this.data();
			    data.selected = true;
			});
			
			var newData = parentTable.rows().data();
			parentTable.clear().rows.add(newData).draw(); 
		    parentTable.draw();
    
		});
		$('#parentEditClearAll').click(function(){
			parentTable.rows({"search":"applied" }).every( function () {
			    var data = this.data();
			    data.selected = false;
			});
			
			var newData = parentTable.rows().data();
			parentTable.clear().rows.add(newData).draw(); 
		    parentTable.draw();
    
		});		
		
		
    });
    </script>
</head>
<body>
	<div id='headerDiv'></div>
	<div class="border">Manufacturer<select id='testervendor'></select><button id='vendorButton'>Add Tester Maker</button></div>
	<div id="vendorDialog">
		<input type="text" id="newTesterVendor"></input>	
	</div>
	<div id="configDialog">
		<div>Tester Name:<input type="text" id="editTesterName"></div>
		<div>Description:<input type="text" id="editTesterDescription"></div>
		<div>Product Type<select id="productTypeList"></select><label id="myParentTesters"></label><button id="editParents">Edit Parents</button></div>
		<div class="border">
		<div class="checkbox-inline" th:each="item : ${categoryCheckBox}">
		    <label>
		    	<input type="checkbox" class="testerCategory" name="selectedCategory" th:value="${item.key}" th:text="${item.value}" th:id="'categoryCheck' + ${item.key}"></input>
		    </label>
		</div>
		</div>
	</div>
	
	<button id="addNewTester">Add New Product</button>
	<button id="editCategoryButton">Edit Category</button>
	<div id="newTesterDialog">
		<div>Tester Name<input type="text" id="newTesterText"></input></div>
		<div>Description<input type="text" id="newTesterDescription"></input></div>
		<div>Product Type<select id="newTesterProductTypeList"></select></div>
	</div>
	<div id="categoryEditDialog">
		<button id="addnewCategory">Add Category</button>
		<table id="categoryEidtTable"></table>
		<div id="newCategoryDialog">
			<div>New Category<input type="text" id="newCategoryText"></div>
			<div>New Category Full Name<input type="text" id="newCategoryFullText"></div>
		</div>
	</div>
	<div id="categoryElementEditDialog">
		<div>Category Name<input type="text" id="categoryNameEdit"></div>
		<div>Full Name<input type="text" id="categoryNameEditFull"></div>
	</div>
	<div id="parentEditDiv">
		<button id="parentEditSelectAll">Select All</button><button id="parentEditClearAll">Clear All</button>
		<table id="parentEditTable"></table>
	</div>
	<div id="main"></div>
</body>
</html>