<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
-->
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js//mywebsocket.js}"></script>
        	
	<script th:inline="javascript">
		$(function() {
			$.ajax({
				type: "GET",
				url: "header",
				dataType : "html"
			})
			.done(function(data){ 
				$('#headerDiv').html(data);
			})
			.fail(function(XMLHttpRequest, textStatus, errorThrown){
				alert(errorThrown);
			});		
  
			function getParam(param, url) {
			    if (!url) url = window.location.href;
			    param = param.replace(/[\[\]]/g, "\\$&");
			    var regex = new RegExp("[?&]" + param + "(=([^&#]*)|&|#|$)"),
			        results = regex.exec(url);
			    if (!results) return null;
			    if (!results[2]) return '';
			    return decodeURIComponent(results[2].replace(/\+/g, " "));
			}
			
			var name = getParam('id');
			
			function retreiveImage() {
				$.ajax({
					type: "GET",
					url: "requestImage?name=" + name,
					dataType : "text"
				})
				.done(function(data){ 
					
				})
				.fail(function(XMLHttpRequest, textStatus, errorThrown){
					alert(errorThrown);
				});				
			}
			var ws = new MyWebSocket(function(obj){
				if (obj.signalType == 'ImageReady') {
					$.ajax({
						type: "GET",
						url: "screenImage?name=" + name,
						dataType : "text"
					})
					.done(function(data){ 
						var img = document.getElementById("screen");
//						img.src = "data:image/jpeg;base64," + window.btoa(data);
						img.src = "data:image/jpeg;base64," + data;

					})
					.fail(function(XMLHttpRequest, textStatus, errorThrown){
						alert(errorThrown);
					});		
				}			
			});
			
			function postMouseEvent(e, mouseType) {
				var obj = new Object();
				obj.name = name;
				obj.x = e.offsetX;
				obj.y = e.offsetY;
				obj.event = mouseType;
				var json = JSON.stringify(obj);
				$.ajax({
					type: "POST",
					url: "/mouseEvent",
					data: json,
					contentType: "application/json",
					dataType : "text"
				}).done(function(data){

				}).fail(function(XMLHttpRequest, status, e){
					alert(e);
				});					
			}

			$('#screen').mousemove(function(e){
//				postMouseEvent('MouseMove');
			});
			
			$('#screen').mousedown(function(e){
				postMouseEvent(e, 'MousePress');
			});
			$('#screen').mouseup(function(e){
				postMouseEvent(e, 'MouseRelease');
			});	
			$('#screen').click(function(e){
//				postMouseEvent('MouseClick');			
			});	
			
			
			retreiveImage();
/*			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			$(document).ajaxSend(function(e, xhr, options) {
				xhr.setRequestHeader(header, token);
			});
*/
		});
	</script>
    <title>Project List</title>
</head>
<body>
	<div id="headerDiv"></div>
    <h1 th:text="${tester}"></h1>
    <div id="maindiv"><img id="screen" src=""></div>
</body>
</html>